.line {
    position: absolute;
    width: 4px;
    height: 100%;
    background: rgb(45, 171, 102);
    z-index: 999;
    box-shadow: 0px 0px 10px 1px #000;

    &.c0 {
        left: 17.4%;
    }

    &.c1 {
        left: 50%;
    }

    &.c2 {
        left: 84%;
    }

    &[class*="r"] {
        transform: rotate(90deg);
        left: 50%;
    }

    &.r0 {
        top: -34%;
    }

    &.r3 {
        top: 0%;
    }

    &.r6 {
        top: 33%;
    }

    &[class*="d"] {
        left: 50%;
    }

    &.d0 {
        transform: rotate(-46deg);
    }

    &.d2 {
        transform: rotate(46deg)
    }
}