.container {

    @media (min-width: 1000px) {
        width: 800px;
    }

    @media (max-width: 999px) and (min-width: 550px) {
        width: 500px;
    }

    @media (max-width: 549px) {
        width: 90%;
    }

    margin: 0 auto;
    min-height: 200px;
}

.grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
}